.portfolio {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  &__card {
    border-radius: 1rem;
    cursor: pointer;

    img {
      height: 20rem;
      border-radius: 1rem;
      margin-bottom: 2rem;
      object-fit: cover;
    }
  }
}
