*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
}

html {
  direction: rtl;
  font-size: 60%;

  @media only screen and (max-width: 992px) {
    font-size: 58%;
  }

  @media only screen and (max-width: 768px) {
    font-size: 56%;
  }

  @media only screen and (max-width: 576px) {
    font-size: 54%;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  width: 100%;
}

body {
  --primary: #8f3e43;
  --secondary: #ffba00;
  --text: #707070;
  --dark-blue: #1a3365;
  --black: #0d0d0d;
  --white: #ffffff;
}

body {
  font-size: 1.6rem;
  font-family: 'Almarai', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  overflow-x: hidden;
}
